MONGO_USER=gingsubels_db_user
MONGO_PASS=X5NrVLxDS92KUAGs
MONGO_URI=mongodb+srv://gingsubels_db_user:X5NrVLxDS92KUAGs@cosmicadb.qlv5kys.mongodb.net/?appName=cosmicadb

PORT=4000
NODE_ENV=development


JWT_ACCESS_EXPIRATION=1h
JWT_ACCESS_SECRET=jwt_access_secret